<div class="head2">
    <nav>
        <ul>
            <li><img src="assets/img/logo.svg" alt="logo"></li>
            <div class="navbar">
                <div class="dropdown">
                    <li><a><button class="dropbtn">Home 
                      <i class="fa fa-caret-down"></i>
                    </button></a></li>
                    <div class="dropdown-content">
                      <a href="welcome">Welcome</a>
                      <a href="error">Page 1</a>
                      <a href="error">Page 3</a>
                    </div>
                  </div> 
                  <div class="dropdown">
                    <li><a><button class="dropbtn">Curses 
                      <i class="fa fa-caret-down"></i>
                    </button></a></li>
                    <div class="dropdown-content">
                      <a href="courses">Courser</a>
                      <a href="error">Page 2</a>
                      <a href="error">Page 3</a>
                    </div>
                  </div> 
                <div class="dropdown">
                    <li><a><button class="dropbtn">Pages 
                      <i class="fa fa-caret-down"></i>
                    </button></a></li>
                    <div class="dropdown-content">
                      <a href="events">Events</a>
                      <a href="error">Page 2</a>
                      <a href="error">Page 3</a>
                    </div>
                  </div> 
                  <div class="dropdown">
                    <li><a><button class="dropbtn">Shop 
                      <i class="fa fa-caret-down"></i>
                    </button></a></li>
                    <div class="dropdown-content">
                      <a href="error">Page 1</a>
                      <a href="error">Page 2</a>
                      <a href="error">Page 3</a>
                    </div>
                  </div> 
                  <div class="dropdown">
                    <li><a><button class="dropbtn">Blog 
                      <i class="fa fa-caret-down"></i>
                    </button></a></li>
                    <div class="dropdown-content">
                      <a href="error">Page 1</a>
                      <a href="error">Page 2</a>
                      <a href="error">Page 3</a>
                    </div>
                  </div> 
                
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
                <a href="#" onclick="changeColor()">Click me</a>
            </div>
            <div class="search">  
                <input type="search" placeholder="Search For Course...">
                <button>Search</button>
                <div class="log">
                    <li><button><a href="login">Log in</a></button></li>
                </div>
            </div>  
        </ul>
    </nav>
</div>
